@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Tajawal:wght@400;500;700&family=Almarai:wght@400;700&display=swap');
body {
  font-family:'Cairo', 'Tajawal', 'Almarai', sans-serif;
  margin: 0;
  background: linear-gradient(#F5EEFF, #DAC3F8);

}

.header {
 background: linear-gradient(135deg, #2e348f, #1f2360);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: 'Tajawal', sans-serif;
  
}

.header a {
  color: #fff; 
  border: none;
  padding: 12px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
 
 
  
}
.header a:hover {
  background-color: #d62828;
  color:#ccc; 
  transform: scale(1.05); 
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);



}

.sidebar {
  width: 210px;
  background: #fff;
  position: fixed;
  top: 100px;
  bottom: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  margin-left: 7px;
}

.sidebar a {
display: block;
  padding: 12px 10px;
  margin: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
  text-align: start;
}

.sidebar a:hover {
 background: linear-gradient(135deg, #2e348f, #1f2360);
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.2);
  transform: translateY(-3px);
  color: white;
  text-align: center;

}

.main-content {
  margin-left: 240px;
  padding: 30px;
}

.card {
  background: white;
  padding: 25px 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
  color: #004B99;
}

input, select, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;

}
input:focus , select:focus , textarea{
  border-color:  linear-gradient(135deg, #0066CC 0%, #004B99 100%);
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.5);
}

button {
 color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
background: linear-gradient(135deg, #2e348f, #1f2360);
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
 transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar { width: 180px; padding: 15px; }
  .main-content { margin-left: 200px; padding: 20px; }
}

@media (max-width: 480px) {
  .sidebar { position: relative; width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; top: 0; padding: 10px 0; }
  .sidebar a { margin: 0; padding: 10px; font-size: 12px; }
  .main-content { margin-left: 0; padding: 15px; }
}
